@charset "UTF-8";

/* Using border-box sizing */
html {
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: #222;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f4f4f4;
  font-size: 16px;
  line-height: 1.5;
}

main {
  margin: 120px auto;
  max-width: 1000px;
}

/* font */

/* style navigation bar */

/* style intro section */
.intro {
  display: grid;
  overflow: auto;
  grid-template-columns: 1fr 2fr;
  gap: 64px;
  margin-bottom: 160px;
  max-width: 1000px;
}

.intro img {
  border-radius: 16px;
}

/* style author */
.author {
  position: relative;
  margin-bottom: 100px;
}

.author article {
  background-color: #84cbe3;
  border-radius: 16px;
  padding: 40px;
  padding-right: 260px;
  width: 90%;
}

.author figure {
  position: absolute;
  top: -60px;
  right: -215px;
  z-index: 1;
}

.author figure img {
  width: 60%;
  border-radius: 16px;
}

/* style accordion */
/* change accordion color reference video: https://www.youtube.com/watch?v=7TMnz-hWy6I

change button icon color:
https://www.youtube.com/watch?v=nMby0FWGMGk */
/* style accordion border video: https://www.youtube.com/watch?v=7TMnz-hWy6I */

/* Use a CSS custom property for accordion color and a fallback background-color */
.accordion {
  --bs-accordion-active-bg: #1049a5;
  --bs-accordion-active-color: #fff;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-border-radius: 12px;
}

.accordion-button.collapsed {
  border: 1px solid #1049a5;
  border-radius: 40px;
}

.accordion-button:hover {
  background: #4d82d6;
}

.accordion-button::after {
  content: "";
  background-image: url(../img/white_arrow.svg) !important;
  background-size: 50%;
  background-position: center;
  background-color: #1049a5 !important;
  border-radius: 5px;
}

.accordion-item:has(.accordion-button:not(.collapsed)) {
  border: 1px solid #1049a5;
  box-shadow: 3px 3px 13px #bebec0;
}

/* style carousel */

/* ----------- style medium screens ----------- */
@media only screen and (max-width: 992px) {
  main {
    margin: 120px auto;
  }

  /* style intro section */
  .intro {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .intro figure {
    display: flex;
    justify-content: center;
  }

  .intro figure img {
    width: 40%;
  }

  /* style author */
  .author {
    position: relative;
    margin-bottom: 100px;
    margin-top: 300px;
  }

  .author article {
    background-color: #84cbe3;
    border-radius: 16px;
    padding: 40px;
    padding-top: 100px;
    width: 100%;
  }

  .author figure {
    position: absolute;
    top: -260px;
    right: -40px;
    z-index: 1;
  }

  .author figure img {
    width: 60%;
    border-radius: 16px;
  }
}

/* ----------- style small screens ----------- */
@media only screen and (max-width: 768px) {
  /* style author */
  .author figure {
    position: absolute;
    top: -200px;
    right: -150px;
    z-index: 1;
  }
  .author figure img {
    width: 50%;
    border-radius: 16px;
  }
}
