@charset "UTF-8";

/* Using border-box sizing */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  margin: 120px auto;
  max-width: 1000px;
}

/* style intro section */
